button{
  @apply px-0;
}

.btn{
  
  &-text{
    @apply uppercase
  }

  &-nav,
  &-filter--inner,
  &-service{
    @apply bg-white py-5 border border-fog flex flex-col justify-between gap-10 leading-100 duration-300 hover:text-black;
  }

  &-service{
    @apply text-slate;
  }

  &-nav{
    @apply text-black;

    &:not(.is-contact){
      @apply transition-colors;
    }

    &.is-contact{
      @apply transition-[width,color] duration-300 w-[7.2rem] whitespace-nowrap overflow-hidden;

      &.is-copying{
        @apply w-[6.2rem] md:w-[17.1rem];
      }
    }
  }

  &-filter--inner{
    @apply text-black transition-colors;
  }

  &-toggle{
    @apply bg-transparent py-5 uppercase leading-100 border border-fog text-slate px-10;

    &.is-active{
      @apply bg-white text-black;
    }
  }

  &-filter--inner{
    @apply px-10 flex-row gap-10;
  }

  &-drop{
    @apply uppercase text-12 font-mono px-25 h-35 flex items-center justify-center shadow-primary bg-white text-center flex-shrink-0;

    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease;
   
    &:hover{
    @apply shadow-light
   }
   
    &.is-wide{
      @apply w-[calc(100%-2rem)] md:w-[30rem];
    }

    &.is-active{
      @apply shadow-primaryInner bg-slate;
    }

    &.is-close{
      @apply bg-black text-white w-35 flex items-center justify-center px-0;
    }
   
  }  

  &-filter{
    @apply font-mono uppercase text-10 px-5 py-5 bg-white shadow-primary text-black;


    &:not(:last-child){
      @apply mr-5
    }

    &:hover,
    &.is-active{
      
    }
  }

  &-switch{
    @apply shadow-primary top-3;
    background: radial-gradient(circle at center 30%, #ffffff 20%, #DBFF00 100%);

    &.is-dark{
      @apply shadow-primary top-[unset] bottom-3;
      background: radial-gradient(circle at center 30%, #ffffff 20%, #7000FF 100%)
    }
  }

  &--project{
    @apply text-10 uppercase group-hover:text-black transition-colors duration-300 px-10 py-5 md:py-10 bg-[rgba(232,232,232,.7)] hover:bg-[rgba(225,225,225,.7)] backdrop-blur-frame;
  }
  
}

.tag{
  @apply text-11 text-white bg-[rgba(255,255,255,.2)] backdrop-blur-[4px] py-10 px-10 rounded-[.5rem];
}

.work-filter{
  &.has-filter{
    .nav-btn{
      .btn-filter--inner{
        @apply text-slate hover:text-black;
      }
      

      &.is-active{
        .btn-filter--inner{
          @apply text-black;
        }
      }
    }
  }
}

.link{
  &-text{
    @apply transition-colors duration-300 hover:text-slate;
  }
}